<%= form_with(model: deed, local: true) do |form| %>
  <% if deed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deed.errors.count, "error") %> prohibited this deed from being saved:</h2>

      <ul>
      <% deed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :deed_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
